
.about-box {
  padding: 40px 60px;
  max-width: 800px;     
  text-align: center;   
  line-height: 1.9;     
  color: #222;
  margin: 135px auto 25px;
}

/* כותרת */
.about-box h1 {
  color: #114c14;
  font-size: 32px;
  margin-bottom: 25px;
}

/* פסקאות */
.about-box p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;   /* כל שורה במרכז */
  max-width: 600px;     /* מקצר את השורה כדי שלא תהיה ארוכה מדי */
  margin-left: auto;
  margin-right: auto;
}

