.about-box {
  line-height: 1.9;
  color: #222;
  margin: 100px 10% 10px 10%;  
}

.about-box h1 {
  color: #114c14;
  font-size: 32px;
  margin-bottom: 25px;
}

.about-box p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 1000px;
}

@media (max-width: 1056px){
  .about-box {
  margin: 150px 10% 10px 10%;  
    }
}

@media (max-width:534px){
  .about-box {
  margin: 200px 10% 10px 10%;  
    }
}