main{
    margin-top: 100px;
}

.animal-flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.animal-card img {
  width: 220px;
  height: 220px;
  object-fit: cover; 
  border-radius: 10px;
}

p{
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 400px;
}