.about-box {
  line-height: 1.9;
  color: #222;
  margin-right: 10%;
  margin-bottom: 60px;
  margin-left: 10%;
}

.about-box h1 {
  color: #114c14;
  font-size: 32px;
  margin-bottom: 25px;
}

.about-box p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 1000px;
}

.about-box .highlight {
  font-weight: bold;
}