main{
  margin-inline: 2%;
  margin-top: 0%;
}

h1{
  margin-right: 10%;
  font-size: 36px;
  color: #165A49;
}

.top-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.animal-flexbox{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
}

.animal-card {
  flex: 1; /*let cards grow*/
  max-width: 490px; 
  min-width: 420px;
  background-color: #f9f9f9;
  border: 1px solid #165A49;
  border-radius: 10px;
  padding: 15px;
}

.animal-card img{
  width: 100%;
  height: 220px;
  object-fit: cover; 
  border-radius: 10px;
}

p{
  font-size: 18px;
}

.animal-card a{
  color: #165A49;
  font-weight: 600;
  text-decoration-thickness: 1.5px;
  border-radius: 15px;
  padding: 2px 6px;
  transition: background-color .15s ease;
}

.animal-card a:hover{
  background: rgba(22, 90, 73, 0.12); /* רקע ירקרק בהיר */
}