main {
  line-height: 1.9;
  color: #222;
  margin-bottom: 10px;
  margin-inline: 10%;
}

h1 {
  color: #114c14;
  font-size: 32px;
  margin-bottom: 25px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.table-wrap{
  margin: 18px 0 28px;
  border-radius: 15px;
  width: 100%;
  overflow-x: auto; /*Scroll only on the table*/
}

.price-table{
  width: 100%;
  min-width: 600px;
  border-spacing: 0;
  border: 1px solid rgba(42, 163, 133, 0.12);
  border-radius: 15px;
  font-size: 16px;
}

.price-table thead th{
  background: #165A49;
  color: #fff;
  padding: 14px 12px;
  text-align: center;
  font-weight: 700;
}

.price-table tbody td{
  padding: 12px 10px;
  text-align: center;
}

.price-table tbody td:first-child{
  text-align: right;
  font-weight: 600;
  color: #114c14;
}

.price-table tbody tr:nth-child(odd){
     background: rgba(22,90,73,.03);
}

.price-table tbody tr:hover{ 
    background: rgba(22,90,73,.06); 
}

.iframe-map {
  border:0;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  height: 450px;
}