/* general style */
body {
  margin: 0;
  position: relative;
  font-family: "Varela Round", sans-serif;
  direction: rtl; /*hebrew*/
  height: 100%;
  padding: 0;
}
main{
    margin-top: 100px;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width:1070px){
  main{
      margin-top: 145px;
  }
}